/* ============================== About Us Part Start =================================== */


#like_part {
    padding: 0 0 150px;

    .instra {
        h2 {
            font-family: 'Inter';
            font-style: normal;
            font-weight: 700;
            font-size: 45px;
            line-height: 55px;

            /* or 122% */

            /* Dark 01 */
            color: #1E1E1E;
        }

        p {

            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 26px;

            /* identical to box height, or 162% */

            /* Dark 03 */
            color: #787878;
        }
    }

    .ints_2 {
        h2 {
            font-family: 'Inter';
            font-style: normal;
            font-weight: 700;
            font-size: 45px;
            line-height: 55px;

            /* identical to box height, or 122% */

            /* Dark 01 */
            color: #1E1E1E;
        }
        p {

            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 26px;

            /* identical to box height, or 162% */
            margin-left: 35px;
            /* Dark 03 */
            color: #787878;
        }
    }

    .ints_3 {
        h2 {
            font-family: 'Inter';
            font-style: normal;
            font-weight: 700;
            font-size: 45px;
            line-height: 55px;

            /* identical to box height, or 122% */

            /* Dark 01 */
            color: #1E1E1E;
        }
        p {

            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 26px;
            margin-left: 23px;
            /* identical to box height, or 162% */

            /* Dark 03 */
            color: #787878;
        }
    }

    .ints_4 {
        h2 {
            font-family: 'Inter';
            font-style: normal;
            font-weight: 700;
            font-size: 45px;
            line-height: 55px;

            /* identical to box height, or 122% */

            /* Dark 01 */
            color: #1E1E1E;
        }
        p {

            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 26px;
            margin-left: 9px;
            /* identical to box height, or 162% */

            /* Dark 03 */
            color: #787878;
        }
    }
}

/* ============================== About Us Part End  =================================== */