/* ============================== Service Part Start =================================== */
#support_part {
    padding: 0 0 300px;

    .support_head {
        h2 {
            font-family: 'Inter';
            font-style: normal;
            font-weight: 600;
            font-size: 45px;
            line-height: 54px;
            text-align: center;

            /* Dark 01 */
            color: #1E1E1E;
        }

        p {
            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 26px;
            margin-top: 20px;
            /* or 162% */
            text-align: center;

            /* Dark 03 */
            color: #787878;
        }
    }
}

/* ============================== Service Part End  =================================== */