/* ============================== Engineers Part Start =================================== */
#video_part{
    padding: 0 0 301px;
    .video_img{
        position: relative;

        a{
            position: absolute;
            left: 41%;
            top: 43%;
        }
    }

}
/* ============================== video Part End  =================================== */